# Exercise: Titanic Dataset - Visualising Different Types of Data

To build better machine learning models, we should understand the available data. This usually involves:

1. Data visualization.

2. Understanding the kind of data we have available.

In this module, we'll practice cleaning our Titanic dataset. We'll also practice visualization of different kinds of data like the following:

- Continuous
- Ordinal
- Categorical
- Simple identity column

## A Note On Our Graphing

This exercise uses a custom python script to create our graphs. This script uses Plotly, a well-known graphing library. 

This script will focus on data exploration, instead of a deep focus on Plotly. To review this custom script, you can find it in our GitHub repository.

## First Inspection

Let's reload the Titanic Dataset, and reacquaint ourselves with its data:

In [5]:
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/titanic.csv
!wget https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/graphing.py

"wget" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.
"wget" no se reconoce como un comando interno o externo,
programa o archivo por lotes ejecutable.

In [2]:
import pandas as pd
import requests

# URL of the files
csv_url = "https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/titanic.csv"
py_url = "https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/graphing.py"

# Download CSV file
csv_response = requests.get(csv_url)
with open('titanic.csv', 'wb') as f:
    f.write(csv_response.content)

# Download graphing.py file
py_response = requests.get(py_url)
with open('graphing.py', 'wb') as f:
    f.write(py_response.content)

# Load data from our dataset file into a pandas dataframe
dataset = pd.read_csv('titanic.csv', index_col=False, sep=",", header=0)

# Let's take a look at the data
dataset.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Take a careful look at the columns, and try to identify those columns holding continuous, ordinal, categorical, or identity data.

We can display a brief summary of the _dataypes_ with the panda `info()` method:

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Several columns contain numerical data (the `int64` or `float64` types), while others contain more complex data types (those with `object` as Dtype)

## Visualising Ordinal Data

Let's visualize some ordinal data. We have available:

1. `Pclass`: The ticket class
2. `Parch`: The number of parents or children on the ship
3. `sibsp`: The number of siblings or spouses on the ship

We can view ordinal data with almost any kind of graph. We'll start with a simple histogram that describes relationships between the ticket class and the likelihood of survival.

In [13]:
!pip install nbformat>=4.2.0

In [ ]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\alumno_ai\appdata\local\programs\python\python312\lib\site-packages (6.0.0)
Requirement already satisfied: nbformat in c:\users\alumno_ai\appdata\local\programs\python\python312\lib\site-packages (5.10.4)
Requirement already satisfied: narwhals>=1.15.1 in c:\users\alumno_ai\appdata\local\programs\python\python312\lib\site-packages (from plotly) (1.26.0)
Requirement already satisfied: packaging in c:\users\alumno_ai\appdata\roaming\python\python312\site-packages (from plotly) (24.1)
Requirement already satisfied: fastjsonschema>=2.15 in c:\users\alumno_ai\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (2.21.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\alumno_ai\appdata\local\programs\python\python312\lib\site-packages (from nbformat) (4.23.0)
Requirement already satisfied: jupyter-core!=5.0.*,>=4.12 in c:\users\alumno_ai\appdata\roaming\python\python312\site-packages (from nbformat) (5.7.2)
Requirement already satisfied: traitlets>=5.1 in c:\users\alumno_ai\appdata\roaming\python\python312\site-packages (from nbformat) (5.14.3)
Requirement already satisfied: attrs>=22.2.0 in c:\users\alumno_ai\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (25.1.0)
Requirement already satisfied: jsonschema-specifications>=2023.03.6 in c:\users\alumno_ai\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (2024.10.1)
Requirement already satisfied: referencing>=0.28.4 in c:\users\alumno_ai\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.36.2)
Requirement already satisfied: rpds-py>=0.7.1 in c:\users\alumno_ai\appdata\local\programs\python\python312\lib\site-packages (from jsonschema>=2.6->nbformat) (0.22.3)
Requirement already satisfied: platformdirs>=2.5 in c:\users\alumno_ai\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (4.3.6)
Requirement already satisfied: pywin32>=300 in c:\users\alumno_ai\appdata\roaming\python\python312\site-packages (from jupyter-core!=5.0.*,>=4.12->nbformat) (308)
Requirement already satisfied: typing-extensions>=4.4.0 in c:\users\alumno_ai\appdata\local\programs\python\python312\lib\site-packages (from referencing>=0.28.4->jsonschema>=2.6->nbformat) (4.12.2)

In [ ]:
import graphing

graphing.histogram(dataset, label_x='Pclass', label_y='Survived', histfunc='avg', include_boxplot=True)

The box and whisker plot (top) shows that at least half the people had third-class tickets. Note how the median and maximum of the plot both sit at `Pclass = 3`.

The histogram shows that people in second and third class tended not to survive the wreck.

Let's look at how survival varies, depending on whether a passenger had parents or children on the ship.

In [ ]:
graphing.multiple_histogram(dataset, 
                            label_x='Pclass', # group by ticket class
                            label_group="Parch", # colour by no parents or children
                            label_y='Survived', 
                            histfunc="avg")

For first and second class ticket holders, people in larger family groups appear to have had better rates of survival. However, this doesn't seem to be the case for third class passengers.

Finally, let's see if those with different ticket types tended to be in differently-sized families. For data spread analysis, a box and whisker is a nice alternative to histograms.

In [ ]:
graphing.box_and_whisker(dataset, label_x="Pclass", label_y="SibSp")

Most values are zero. This shows that most people traveled without siblings and without a partner. There are no obvious differences in this value between the different ticket classes.

## Visualising Continuous Data

_Continuous_ data are usually best viewed using either:

1. An XY scatter plot, especially for relationships between two continuous features.
2. Histograms or Box and Whisker plots to look at the spread of data.

Our dataset has `Age` and `Fare` as continuous data columns. Let's view them:

In [ ]:
graphing.scatter_2D(dataset, label_x="Age", label_y="Fare")

We don't see an obvious relationship between `Age` and `Fare`. 

Does the cost of a fare, or the person's age, have any relationship with likelihood of survival?

In [ ]:
# Plot Fare vs Survival
graphing.histogram(dataset, label_x="Fare", label_y="Survived", histfunc="avg", nbins=30, title="Fare vs Survival", include_boxplot=True, show=True)

# Plot Age vs Survival
graphing.histogram(dataset, label_x="Age", label_y="Survived", histfunc="avg", title="Age vs Survival", nbins=30, include_boxplot=True)

The boxplot (top) of the first figure shows that most people held tickets that cost less than Â£25, and the histogram shows that people with more expensive tickets tended to survive.

The second figure indicates passengers were about 30 years old on average, and that most children under 10 years old survived, unlike most adults.


## Visualising Categorical Data

The Titanic dataset has these _categorical_ columns:
* `Sex`: Male, Female
* `Embarked`: The port of ambarkation (C, Q, or S)
* `Cabin`: Many options
* `Survival`: 0 = no, 1 = yes

Categorical data are usually viewable in a similar way to ordinal data, but with data viewed as order-less groups. Alternatively, categories appear as colors or groups in other kinds of plots.

Plotting categorical data against other categorical data shows how data is clustered. This is little more than a colored table. Let's do this now:

In [ ]:
import plotly.graph_objects as go
import numpy as np

# Create some simple functions
# Read their descriptions to find out more 
def get_rows(sex, port):
    '''Returns rows that match in terms of sex and embarkment port'''
    return dataset[(dataset.Embarked == port) & (dataset.Sex == sex)]

def proportion_survived(sex, port):
    '''Returns the proportion of people meeting criteria who survived'''
    survived = get_rows(sex, port).Survived
    return np.mean(survived)

# Make two columns of data - together these represent each combination
# of sex and embarkment port
sexes = ["male", "male", "male", "female","female", "female"]
ports = ["C", "Q", "S" ] * 2

# Calculate the number of passengers at each port + sex combination
passenger_count = [len(get_rows(sex, port)) for sex,port in zip(sexes, ports)]

# Calculate the proportion of passengers from each port + sex combination who survived
passenger_survival = [proportion_survived(sex, port) for sex,port in zip(sexes, ports)]

# Combine into a single data frame
table = pd.DataFrame(dict(
    sex=sexes,
    port=ports,
    passenger_count=passenger_count,
    passenger_survival_rate=passenger_survival
))

# Make a bubble plot
# This is just a scatter plot but each entry in the plot 
# has a size and colour. We set colour to passenger_survival 
# and size to the number of passengers 
graphing.scatter_2D(table, 
                    label_colour="passenger_survival_rate", 
                    label_size="passenger_count", 
                    size_multiplier=0.3,
                    title="Bubble Plot of Categorical Data")

It appears that women have a much higher survival rate than men, but there were more men on the ship. 

We can also see that most people boarded at Port `S` ("Southampton"). It does seem that there is a weak relationship between the port of boarding and survival.

## Summary

You learned about different types of data, and you practiced data exploration through graphs.

Through these, we've discovered that some features are related to others, and that many features seem to influence the survival rate.